html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}

.selected {
    background-color: #eeeeee;
}

.logo {
    width: 200px;
    height: auto;
}

.news-image {
    height: 200px;
}

.background-color {
    background-color: #eeeeee;
}